<div class="card" *ngIf="student else noStudent">
    <div class="card-body">
        <form [formGroup]="studentForm">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="idStudent" class="is-invalid">Student id:</label>
                    <input type="text" class="form-control" id="idStudent" formControlName="idStudent" [class.disabled]="!isNewStudent">
                    <!-- {{i.className}} -->
                    <ng-container *ngIf="studentForm.controls.idStudent.errors && studentForm.controls.idStudent.invalid">
                        <div class="text-danger" *ngIf="studentForm.controls.idStudent.errors.required">this field is reqiured
                        </div>
                        <div class="text-danger" *ngIf="studentForm.controls.idStudent.errors.minlength">this field must be at least 9 chars</div>
                        <div class="text-danger" *ngIf="studentForm.controls.idStudent.errors.maxlength">this field must be max 9 chars</div>
                    </ng-container>
                </div>

                <div class="form-group col-md-3">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                    <ng-container *ngIf="studentForm.controls.firstName.errors">
                        <div class="text-danger" *ngIf="studentForm.controls.firstName.errors.required">this field is reqiured
                        </div>
                    </ng-container>
                </div>
                <div class="form-group col-md-3">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                </div>
                <div class="form-group col-md-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>
                <div class="form-group col-md-1">
                    <label for="active">Active:</label>
                    <input type="checkbox" class="form-control" id="active" formControlName="active" (ngModelChange)="changeModeStudent($event)">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="address">Adress:</label>
                    <input type="text" class="form-control" id="address" formControlName="address">
                </div>
                <div class="form-group col-md-3">
                    <label for="phone">Phone Number:</label>
                    <input type="tel" class="form-control" id="phone" formControlName="phone">
                </div>
                <div class="form-group col-md-3">
                    <label for="professionId">Profession:</label>
                    <select class="form-control" formControlName="professionId">
                        <option *ngFor="let profession of professionsList" [value]="profession.id">{{profession.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-3" *ngIf="!student.active">
                    <label for="leavingDate">Leaving Date:</label>
                    <input type="datetime-local" class="form-control" id="leavingDate" formControlName="leavingDate">
                </div>
                <div class="form-group">
                    <!-- <label for="year">Year:</label> -->
                    <div [ngSwitch]="studentForm.controls.year.value">
                        <div *ngSwitchCase="'Year.A'">
                            200 days of year
                        </div>
                        <div *ngSwitchCase="'Year.B'">
                            250 days of year
                        </div>
                        <div *ngSwitchCase="'Year.C'">
                            300 days of year
                        </div>
                        <div *ngSwitchDefault>
                            Select a year:
                        </div>
                    </div>
                    <input type="radio" value="Year.A" name="year" formControlName="year" /> A
                    <!-- <br> -->
                    <input type="radio" value="Year.B" name="year" formControlName="year" /> B
                    <!-- <br> -->
                    <input type="radio" value="Year.C" name="year" formControlName="year" /> C
                </div>
                <!-- <br> -->
            </div>

            <button class="btn btn-primary" (click)="saveNewStudent()" [disabled]="!studentForm.valid">save</button>

            <!-- <ng-template #existStutent>
                <input type="text" class="form-control" id="idStudent" formControlName="idStudent" disabled>
            </ng-template> -->

        </form>
    </div>
</div>



<ng-template #noStudent>
    <div class="card-subtitle">
        No Student To Display
    </div>
</ng-template>

<test-history-list class="col-lg-3" [testsToShow]="student.tests" [average]="average"></test-history-list>